<ion-view title="Info" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="info-list1" class=" ">
            <ion-item class="item-avatar  " id="info-list-item5">
                <img src="img/Pm18J83oQzy1j0G3wQUl_simpel hours logo50x50.png">
                <h2>Velkommen til Simple Hours</h2>
                <p>Cloud appen</p>
            </ion-item>
        </ion-list>
        <div class="item item-body " id="info-list-item-container3">
            <p id="info-markdown1" style="margin-top:0px;color:#000000;" class=" ">Du må ha internett på for og bruke denne appen . Ved spørsmål kontakt oss</p>
        </div>
        <ion-list id="info-list2" class=" ">
            <ion-item class="item-icon-left  " id="info-list-item6">
                <i class="icon ion-ionic"></i>Må ha internett</ion-item>
            <ion-item class="item-icon-left  " id="info-list-item7">
                <i class="icon ion-ionic"></i>Oversikt over dine timer</ion-item>
        </ion-list>
    </ion-content>
</ion-view>