<ion-view title="Om Simple Hours" id="page3" class=" ">
    <ion-content padding="true" style="background: url(img/pCMdolLxTY2kOb3LdB19_simpel%2520hours%2520logo640x1136.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="item item-body " id="omSimpleHours-list-item-container4">
            <p id="omSimpleHours-markdown2" style="margin-top:0px;color:#000000;" class=" ">Simple Hours er et firma som levere Time registreing system til bedrifter se mer på nett siden vår http://simplehours.no</p>
        </div>
    </ion-content>
</ion-view>